.PlayList_Track{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 10px;
border:  4px double black;
border-radius: 10px;
}
.PlayListTrackText{
  color:red;
  font-size: 27px;
}
.PlayListTrackImg{
  padding: 5px;
  width: 100px;
  height: 100px;
}
.PlayList_Track:hover{
  cursor: pointer;
}
.MainTextPlayList{
  font-family: 'Times New Roman', Times, serif;
  font-size: 27px;
}
.Pen{
  background-color: red;
  position: relative;
}
.Playlist_Change_name_Pen{
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.Playlist_Change_name_Pen:hover{
  cursor: pointer;
}
.MainTextPlayList_Block{
  display: flex;
  flex-direction: row;
}
.Button_delete{
  padding: 0;
}
.MainTextPlayList_Block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Delete_btn{
  width: 180px;
  height: 50px;
  background-color: rgba(135, 27, 207, 0.664);
  margin: 15px;
  font-size: 14px;
}
.Delete_btn:hover{
  background-color: red;
}
.MainTextPlayList_BlockText{
  margin-top: 10px;
  display:flex;
  flex-direction: row;
}